.bgr {
  background-image: url("../../assets/FOCUS-Slider.jpg");
  background-color: rgb(0, 0, 0);
  height: 540px;
  background-size: cover;
  background-position: center;
  color: var(--light-color);
  text-align: center;
  box-sizing: border-box;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
