:root {
  --primary-color: #34537e;
  --secondary-color: #d0417e;
  --light-color: #f9f9f9;
  --dark-color: #2b334f;
  --medium-color: #ddd;
}

.app {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-size: smaller;
}
